@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;515;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}

.LogoImg {
    width: 150px !important;
}

html {
    scroll-behavior: smooth;
}

a {
    cursor: pointer !important;
}

.customNav {
    color: #cccccc !important;
    transition: 0.6s linear;
}

.customNav:hover {
    color: #0667ee !important;
}

.customContactBtn {
    background: #0667ee;
    color: #cccccc;
    transition: 0.4s linear;
    font-weight: 600;
    border-radius: 50px;
}

.customContactBtn:hover {
    background: #2b2f34;
    box-shadow: -5px -5px 30px 5px #0667ee, 5px 5px 30px 5px #0667ee;
}

.customInputBtn {
    transition: 0.4s linear;
    border-radius: 20px;
    box-shadow: 0 10px 10px -5px #0667ee;
}

.customInputBtn:focus {
    box-shadow: -5px -5px 30px 5px #0667ee, 5px 5px 30px 5px #0667ee;
}

.customBg {
    background: #283241;
}

.customBgTwo {
    background: #2b2f34 !important;
}

.customBtmPD {
    padding-bottom: 30px !important;
    padding-top: 21px !important;
}

.customJRBG {
    background: #212a36;
    box-shadow: 0 10px 10px -5px #0667ee;
    margin-bottom: 40px;
    transition: 0.6s linear;
    border-radius: 15px;
}

.customJRBG:hover {
    background: #2b2f34;
    box-shadow: -5px -5px 30px 5px #0667ee, 5px 5px 30px 5px #0667ee;
}

i {
    color: #0667ee;
    font-size: 35px !important;
}
